In [20]:
import numpy as np
import pandas as pd

In [21]:
df = pd.read_csv('T:\Masters In Data Science\Machine Learning\car_evaluation.csv')

In [22]:
df.head()

   vhigh vhigh.1  2 2.1  small   low  unacc
0  vhigh   vhigh  2   2  small   med  unacc
1  vhigh   vhigh  2   2  small  high  unacc
2  vhigh   vhigh  2   2    med   low  unacc
3  vhigh   vhigh  2   2    med   med  unacc
4  vhigh   vhigh  2   2    med  high  unacc

In [23]:
columns = ['Buying_Price','Main_cost','Doors','Person_Capasity','lug_boot','Safety','Class']

In [24]:
df.columns = columns

In [25]:
features = ['Buying_Price','Main_cost','Doors','Person_Capasity','lug_boot','Safety']

In [26]:
df.head()

  Buying_Price Main_cost Doors Person_Capasity lug_boot Safety  Class
0        vhigh     vhigh     2               2    small    med  unacc
1        vhigh     vhigh     2               2    small   high  unacc
2        vhigh     vhigh     2               2      med    low  unacc
3        vhigh     vhigh     2               2      med    med  unacc
4        vhigh     vhigh     2               2      med   high  unacc

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1727 entries, 0 to 1726
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Buying_Price     1727 non-null   object
 1   Main_cost        1727 non-null   object
 2   Doors            1727 non-null   object
 3   Person_Capasity  1727 non-null   object
 4   lug_boot         1727 non-null   object
 5   Safety           1727 non-null   object
 6   Class            1727 non-null   object
dtypes: object(7)
memory usage: 94.6+ KB

In [28]:
df_new = pd.get_dummies(df) ## one method

In [29]:
df_new.head()

,Buying_Price_high,Buying_Price_low,Buying_Price_med,Buying_Price_vhigh,Main_cost_high,Main_cost_low,Main_cost_med,Main_cost_vhigh,Doors_2,Doors_3,...,lug_boot_big,lug_boot_med,lug_boot_small,Safety_high,Safety_low,Safety_med,Class_acc,Class_good,Class_unacc,Class_vgood
0,0,0,0,1,0,0,0,1,1,0,...,0,0,1,0,0,1,0,0,1,0
1,0,0,0,1,0,0,0,1,1,0,...,0,0,1,1,0,0,0,0,1,0
2,0,0,0,1,0,0,0,1,1,0,...,0,1,0,0,1,0,0,0,1,0
3,0,0,0,1,0,0,0,1,1,0,...,0,1,0,0,0,1,0,0,1,0
4,0,0,0,1,0,0,0,1,1,0,...,0,1,0,1,0,0,0,0,1,0

In [30]:
df['Class'].unique()

array(['unacc', 'acc', 'vgood', 'good'], dtype=object)

In [31]:
buying = {'vhigh':1 , 'high':2, 'med':3, 'low':4}      ## second method
df.Buying_Price = [buying[i] for i in df.Buying_Price]

maint = {'vhigh':1 , 'high':2, 'med':3, 'low':4}
df.Main_cost = [maint[i] for i in df.Main_cost]

doors = {'2':2, '3':3 , '4':4, '5more':5}
df.Doors = [doors[i] for i in df.Doors]

persons = {'2':2 , '4':4, 'more':1}
df.Person_Capasity = [persons[i] for i in df.Person_Capasity]

lugboot = {'big':1 , 'med':2 , 'small':3}
df.lug_boot = [lugboot[i] for i in df.lug_boot]

safety = {'high':1, 'med':2, 'low':3}
df.Safety = [safety[i] for i in df.Safety]

classs = {'unacc':0, 'acc':1, 'good':2, 'vgood':3}
df.Class = [classs[i] for i in df.Class]

In [32]:
df.head()

   Buying_Price  Main_cost  Doors  Person_Capasity  lug_boot  Safety  Class
0             1          1      2                2         3       2      0
1             1          1      2                2         3       1      0
2             1          1      2                2         2       3      0
3             1          1      2                2         2       2      0
4             1          1      2                2         2       1      0

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1727 entries, 0 to 1726
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Buying_Price     1727 non-null   int64
 1   Main_cost        1727 non-null   int64
 2   Doors            1727 non-null   int64
 3   Person_Capasity  1727 non-null   int64
 4   lug_boot         1727 non-null   int64
 5   Safety           1727 non-null   int64
 6   Class            1727 non-null   int64
dtypes: int64(7)
memory usage: 94.6 KB

In [34]:
x = df[features]
y = df['Class']

In [39]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.22)

In [42]:
from sklearn.tree import DecisionTreeClassifier
dc = DecisionTreeClassifier()

In [43]:
model = dc.fit(x_train,y_train)

In [44]:
y_pred = dc.predict(x_test)

In [45]:
y_pred

array([0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 2, 3, 1, 1, 1, 1, 1, 3, 0, 0, 1, 0, 0, 0,
       3, 1, 0, 0, 0, 3, 0, 0, 0, 0, 0, 0, 3, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0,
       3, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 3, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 3,
       0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 3, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 3, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 2, 0, 1, 0, 0, 0, 2, 0, 0, 0, 1, 1,
       0, 1, 3, 0, 0, 0, 0, 0, 2, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 3, 1, 1,
       0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 2, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 1, 1, 3, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 1, 1, 1, 2, 0, 0, 0, 0, 1, 0, 0, 3, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 2, 0], dtype=int64)

In [46]:
dc.score(x_test,y_test)

0.9842105263157894